body
{
    margin: 0px;
    padding: 0px;
    background-image: url(../images/parallax_back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Questrial', sans-serif;
}
h1
{
    font-family: 'Questrial', sans-serif;
}
.container
{
  display: grid;
  grid-template-columns: 300px 500px 500px 1fr;
  grid-template-rows: 100px 1440px;
  grid-template-areas:
  "h h h h"
  "s c c c"
  ;
}

/*-----SET GRID AREAS FOR THE PAGE-----*/
.sidemenu {
  grid-area: s;
}
.content {
  grid-area: c;
}
.w-head {
  grid-area: h;
}


    /*-----HEADER-----*/
    .w-head
    {
        height: 100px;
        background: rgba(255, 255, 255, 0.3);
        display: grid;
        grid-template-columns: 1fr 1fr 5fr;
    }
    .w-nav > li
    {
        display: inline;
        float: right;
        margin: 1em;
        font-size: 20px;
        transition: .3s;

    }
    .nav-items
    {
        text-decoration: none;
        color: #eee;
        transition: .3s;
    }
    .nav-items:hover
    {
        padding-left: 20px;
        padding-right: 20px;
        transition: .5s;
        color: rgba(155, 200, 255, .8);
        border-left-style: solid;
        border-right-style: solid;
        border-width: 2px;
    }

        /*-----HEADERSEARCH-----*/
        .search
        {
            margin: 1em;
        }
        .search input#user_search
        {
            margin-left: 1em:
            margin-top: 1em;
            height: 1.2em;
            width: auto;
            border-radius: 4px;
        }

/*-----TEXTBOX-----*/
.textbox
{
    width:auto;
    font-family: 'Questrial', sans-serif;
	height:60px;
    margin-right: 1em;
	background-color: transparent;
	border:1px solid rgba(155, 200, 255, .8);
    border-radius: 10px;
    resize: none;
}
/*-----CONTENT-----*/
li.list_head
{
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;

}
.head_text > p
{
    font-size: 40px;
    display: inline-block;
    margin-right: 1em;
}
.li_completed
{
    text-align: center;
    height: 2em;
    margin-bottom: 1em;
}
.head_widget
{
    display: flex;
    margin-bottom: 2em;
}
.head_widget input
{
    height: 1.5em;
    width: 300px;
    border-radius: 10px;
}
.head_widget button
{
    height: 2em;
    width: 5em;
    margin-left: 1em;
    border-radius: 10px;
}
/*-----TASKS----*/
.tasks
{
    display: grid;
    grid-template-columns: 3fr 3fr 7px;
}

.task_text > p
{
    display: inline-block;
    margin-left: 1em;
    font-size: 15px;
}
.task_widget
{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.task_widget input
{
    margin-top: 1em;
}

.group
{
    list-style-type: none;
    padding: 2em;
    margin-left: 4em;
    min-width: 400px;
    max-width: 800px;
}

.group li:not(:first-child)
{
    border-style: solid solid none solid;
    border-width: 1px;
    height: 3em;
    transition: 0.3s;
}

.group li:not(:first-child):hover
{
    height: 3.5em;
    transition: 0.3s;
    background: rgba(155, 200, 255, .8);
}

.group li:nth-child(2):not(:last-child)
{
    border-style: solid solid none solid;
}
.group li:last-child
{
    border-style: solid solid solid solid;
}
.group li:first-child
{
    border-style: none;
}

/*-----SIDEMENU-----*/

.sidemenu
{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 20px 1fr;
min-height: 100%;
margin-top: 2em;
grid-gap: 2em;
}
ul.category_ul
{
    padding: 0px;
    margin-bottom: 5px;
}
/*-----lists in sidemenu-----*/

#board_category
{
    text-align: center;
    font-size: 18px;
    list-style-type: none;
}
li#board_category
{
    padding: 1em;
    background: rgba(255, 255, 255, 0.5);
}

/*-----ADDED TASKED----*/

.li_sidemenu:hover
{
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    padding: 2em;
    transition: 1s;
    cursor: pointer;
}
.li_sidemenu:hover
{
    border-right-style: solid;
    border-width: 5px;
    border-color: rgba(120, 217, 246, 0.81);
    transition: 1s;
}
/*-----public/private_list_sidemenu-----*/
#private li:first-child
{
    border-right-style: solid;
    border-width: 5px;
    border-color: rgba(210, 0, 188, 0.3);
}
#public li:first-child
{
    border-right-style: solid;
    border-width: 5px;
    border-color: rgba(0, 205, 209, 0.3);
}

#private li:not(:first-child)
{
    background: rgba(255, 255, 255, 0.3);
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    list-style-type: none;
    padding: 1em;
    transition: 1s;
    border-right-style: solid;
    border-width: 5px;
    border-color: rgba(210, 0, 188, 0.3);

}
#public li:not(:first-child)
{
    background: rgba(255, 255, 255, 0.3);
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    list-style-type: none;
    padding: 1em;
    transition: 1s;
    border-right-style: solid;
    border-width: 5px;
    border-color: rgba(0, 205, 209, 0.3);
}
#public li:not(:first-child):hover
{
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    padding: 2em;
    cursor: pointer;
    border-right-style: solid;
    border-width: 5px;
    border-color: rgba(0, 205, 209, 1);
    transition: 1s;
}
#private li:not(:first-child):hover
{
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    padding: 2em;
    cursor: pointer;
    border-right-style: solid;
    border-width: 5px;
    border-color: rgba(210, 0, 188, 1);
    transition: 1s;
}

/*-----public/private_list-----*/

.public_list
{
    background-color: rgba(0, 205, 209, .2);
    margin-top: 1em;
    transition: 2s;
}

.private_list
{
    background-color: rgba(210, 0, 188, .2);
    margin-top: 1em;
    transition: 2s;
}

/*-----INFO-----*/
.info
{
    text-align: center;
    padding-bottom: 3em;
    border-style: none none solid none;
    border-width: 1px;
}
.info button
{
    cursor: pointer;
}
.info input
{
    margin-left: 1em:
    margin-top: 1em;
    height: 1.2em;
    width: auto;
    border-radius: 4px;
}
/*-----SEARCH USER-----*/


#user_search_table
{
    list-style-type: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}
.search_user_div
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}
.search_user_div > button
{
    height: 2em;
    width: 4.5em;
    margin-top: 1em;
    cursor: pointer;
}
.search_users_smalltext
{
    font-size: 10px;
}

/*-----VIEW SEARCH USER LISTS-----*/
.view_task_ul
{
    list-style-type: circle;
    margin-left: 4em;
    margin-right: 4em;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: rgba(176, 251, 244, 0.77);
    background: linear-gradient(rgba(176, 251, 244, 0.77), transparent);
}

.view_task_ul li:first-child
{
    padding: 2em;
    /*background: rgba(176, 251, 244, 0.77);*/
}
.view_task_li
{
    display: grid;
    grid-template-columns: 1fr 2fr 5px;
    margin-left: 2em;
    margin-right: 0;
    transition: 1s;
}
.view_task_li:hover
{
    display: grid;
    grid-template-columns: 1fr 2fr 5px;
    margin-left: 0;
    margin-right: 0;
    transition: 1s;
    background: linear-gradient(to left, white, transparent);
}
.view_task_info_container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.selected_task_li
{
    height: 100px;
    background: linear-gradient(to left, white, transparent);
}
