#groupContainer
{
    width: 500px;
}

.group > ul
{
    width: 500px;
}
.group > li
{
    list-style-type: none;
    width: 500px;
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    border-style: solid solid none solid;
}
.group > li:first-child
{
    background-color: #aaa;
}
.group > li:last-child{
    border-bottom-style: solid;
}
div.buttons
{
    float: right;
}

.completed
{
    background-color: green;
}
.neutral
{
    background-color: white;
}
