
/*-----DONT CHANGE THE HIEARCHY-----*/


.completed
{
    background-color: rgb(183, 255, 234);
    transition: .9s;
}

.high
{
    background-color: rgb(255, 15, 15);
    transition: .9s;
}

.medium
{
    background: rgb(221, 142, 255);
    transition: .9s;
}

.low
{
    background-color: rgb(129, 255, 127);
    transition: .9s;
}

/*-----LIST-----*/
.head_text
{
    height: 5em;
}
.head_text > textarea
{
    margin-top: 0;
}
.head_text > p
{
    margin-top: 0;
    margin-bottom: 0;
}
.head_widget
{
    height:auto;
    margin-bottom: 0;
}
.list_head
{
    height: 150px;
}
